# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Firmware binaries (download separately)
firmware/*.bin

# MicroPython device artifacts
*.mpy

# IDE
.vscode/settings.json
.idea/
.secrets_tmp.py
*.swp
*.env
.deploy_hashes.json
dist/
legal/